
.index > main > header > nav > ul > li > a.index {
  color: var(--blue-md);
}

.greece > main > header > nav > ul > li > a.greece {
  color: var(--blue-md);
}

.australia > main > header > nav > ul > li > a.australia {
  color: var(--blue-md);
}
.turkey > main > header > nav > ul > li > a.turkey {
  color: var(--blue-md);
}
.sweden > main > header > nav > ul > li > a.sweden {
  color: var(--blue-md);
}

.thailand > main > header > nav > ul > li > a.thailand {
  color: var(--blue-md);
}

nav {
 background: white;
  padding: 1em 0 0;
}

nav ul {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0 1em;
}

nav ul li {
  list-style-type: none;
  font-weight: 200;
  /* margin-bottom: 1em; */
  margin: 0 .5em 1em;
}

@media (max-width: 320px) {
  nav ul li {
    width: 100%;
  }
}

nav li a:hover {
  color: var(--blue-md);
}


nav li a {
  list-style-type: none;
  text-decoration: none;
  color: var(--black);
}

