body.turkey.dark-mode {
  font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  animation-name: turkey__backFader;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.turkey.dark-mode header   {
  text-align: center;
  padding: 1em 0 .5em;
  color: var(--white);
  background: transparent;
}

.turkey.dark-mode main {
  background: rgba(0, 0, 0, .5);
  text-align: center;
  padding: 0em 0 0em;
  border: 1px solid var(--white);
  border-radius: 10px;
}

.turkey.dark-mode nav {
  color: var(--white);
  background: black;
}

.turkey.dark-mode nav ul {
  color: var(--white);
  background: black;
}

.turkey.dark-mode nav ul li {
  color: var(--white);
}

.turkey.dark-mode nav ul li a {
  color: var(--white);
}

.turkey.dark-mode nav ul li a:hover {
  color: yellow;
}

.turkey .topSection  {
  background: var(--white);
}

.turkey.dark-mode .topSection h2 {
  color: var(--white);
}

.turkey.dark-mode .topSection  {
  background: black;
}

.turkey.dark-mode .flexItems h4 {
  color: var(--white);
}

.turkey.dark-mode .flexItems ul {
  color: var(--white);
}

.turkey.dark-mode .country  {
  /* background:var(--black); */
  background: transparent;
}

.turkey.dark-mode .list {
  border: 1px solid var(--white);
}

.dark-mode footer.turkey_footer {
  color: var(--white);
}

.turkey.dark-mode footer.turkey_footer {
  background: rgba(0, 0, 0, 1);
  /* width: 90%; */
  margin: 0 auto;
  font-size: 1em;
}
