

  .footer__greece {
      width: 90%;
      margin: auto;
    }
    
    .footer__greece__list {
        
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-weight: bolder;
  }