@import "./_colors.css";
@import "./_nav.css";
@import "./home.css";
@import "./_turkey.css";
@import "./sweden.css";
@import "./greece.css";

body {
  background: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
  background: white;
}

header {
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header label {
  margin-top: 0;
  margin-bottom: 0;
  flex-shrink: 1;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
}


.flexboxxy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1.3em;
}

.flexItems {
  flex-basis: 30%;

}

.list {
  border: 1px solid black;
}
.list h4 {
  text-align: center;
}

.turkey header nav ul {
  /* padding: 0 1em; */
  /* margin: 0 1em; */
}

.turkey header nav ul li {
  /* padding: 0 1em; */
  margin: 0 .5em;
}

.topSection img {
  max-width: 100%;
}

.topSection h2 {
  text-align: center;
}


