.swedenContainer {
    background-color: rgba(67, 114, 201, 0.322);
}

@keyframes border-change {
    0% {border-color: black;}
    50% {border-color: rgb(177, 93, 93);}
    100% {border-color: black}
    }

.swedenItems {
    animation-name: border-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 2px solid black;
    text-align: center;
}

/* Styling for Swedish cities section */

.swedenCities__list {
    display: flex;
    margin: 0em 1em;
    justify-content: space-between;
}

.sweden--city--name { 
    font-weight: bold;
}

.sweden--city--population {
    font-weight: lighter;
    font-style: italic;
}

/* Styling for Swedish landmarks section */

.swedenLandmarks {
    text-align: center;
}

.sweden--landmark--name {
    font-weight: bold;
}

.sweden--landmark--description {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: .2em;
}

/* Styling for Swedish landmarks section */

.swedenLeaders__list {
    display: flex;
    margin: 0em 1em;
    justify-content: space-between;
}

.sweden--leader--name { 
    font-weight: bold;
}

.sweden--leader--title {
    font-weight: lighter;
    font-style: italic;
}


/* Itinerary styling */

.swedenItinerary {
    margin: 2em;
}
.swedenItinerary__title {
    font-weight: 700;
    text-align: center;
}
.swedenItinerary__list {
    margin-top: 1em;
    border: solid 2px black;
    border-radius: 1em;
}

.swedenItinerary--list--item {
    margin: .5em 1.5em;
    font-style: italic;
}


/* Footer styling */

.swedenFooter {
    width: 90% auto;
}

.swedenFooter__list {
    display:flex;
    justify-content: space-evenly;
    padding: 1.3em 0;
    list-style-type: none;
    background-color: rgb(206, 206, 206);
}

.swedenFooter--list--items {
    font-weight: bolder;
}

