.sweden__container {
    background-color: rgba(67, 114, 201, 0.322);
}

@keyframes border-change {
    0% {border-color: black;}
    50% {border-color: rgb(177, 93, 93);}
    100% {border-color: black}
    }

.swedenItems {
    animation-name: border-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.swedish__city__list {
    display: flex;
    margin: 0em 1em;
   justify-content: space-between;
}

.swedish__city__names { 
    font-weight: bold;
}

.swedish__city__population {
    font-weight: lighter;
    font-style: italic;
}



.sweden__footer {
    width: 90% auto;
}

.footer__sweden__list {
    display:flex;
    justify-content: space-evenly;
    padding: 1.3em 0;
    list-style-type: none;
    background-color: rgb(206, 206, 206);
}

.footer__sweden__list__items {
    font-weight: bolder;
}

.sweden__itinerary {
    margin: 2em;
}
.sweden__itinerary__title {
    font-weight: 700;
    text-align: center;
}
.sweden__itinerary__list {
    margin-top: 1em;
    border: solid 2px black;
    border-radius: 1em;
}

.sweden__itinerary__list__items {
    margin: .5em 1.5em;
    font-style: italic;
}