@import './_pageFader.css';
@import './_turkey_dark.css';
@import './switch.css';

body.turkey {
  font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(98,30,1);
  background: linear-gradient(
    0deg, 
    rgba(98,30,2,1) 0%,
    rgba(98,30,2,1) 20%, 
    rgba(247,169,18,1) 40%, 
    rgba(247,169,18,1) 50%, 
    rgba(227,77,10,1) 55%, 
    rgba(227,77,10,1) 60%, 
    rgba(87,130,38,1) 80%, 
    rgba(87,130,38,1) 100%) fixed; 
    animation-name: turkey__backFader;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.turkey header {
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 1em 0 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.turkey header h1 {
  text-align: center;
  margin: 0 auto 0.5em;
}

.turkey main {
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 0em 0 0em;
  border-radius: 10px;
}

.turkey .topSection  {
  background: var(--white);
}

.turkey .topSection h2 {
  margin: .5em 0 .5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.turkey .country  {
  background: var(--white);
}

.turkey .list {
  border: none;
  background: rgba(132, 38, 0, 0.2);
  border-radius: .5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

/* .turkey .list h4 {
  text-align: center;
  margin: .5em auto 0;
  font-weight: 400;
} */

.turkey .list ul {
  text-align: left;
  margin: 0em -0.5em 0 0;
  /* padding: 0em 0.75em 0 0; */
}

.turkey .list ul li {
  text-align: left;
  font-weight: 200;
  margin-left: -0.4em;
  padding-left: 0em;
  font-size: .85em;
  margin: 0em -0.5em 0em 0;
  margin-bottom: 0.15em;
  padding: 0em 0.75em 0 0;
  margin-left: -0.5em;
}

footer.turkey_footer {
  background: rgba(255, 255, 255, .5);
  font-size: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0em 0 1em;
  margin: 1em auto 0em;
}

.turkey_footer hr {
  margin: 0 0 1.5em;
  outline: none;
}

.turkey_footer h4,
.turkey_footer p {
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.075em;
  line-height: 1;
  margin: 0 0 .5em;
  font-size: .85em;
  ;
}

.turkey_footer h4 {
  margin: 0 0 .5em;
}

.turkey .flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.turkey .list {
  flex-basis: 42.5%;
}

.turkey .list h4 {
  text-align: left;  
  margin: 1em 0 0em 1em;
  font-weight: 400;
}

@media (min-width: 900px) {
  .turkey .list {
    flex-basis: 20%;
    margin: 0em .25em 0em;
  }
}

@media (max-width: 450px) {
  .turkey .list {
    flex-basis: 100%;
    margin: 0em 1em 1em;
  }
}
