@import './_pageFader.css';
@import './_turkey_dark.css';
@import './switch.css';

body.turkey {
  font-family: Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(98,30,1);
  background: linear-gradient(
    0deg, 
    rgba(98,30,2,1) 0%,
    rgba(98,30,2,1) 20%, 
    rgba(247,169,18,1) 40%, 
    rgba(247,169,18,1) 50%, 
    rgba(227,77,10,1) 55%, 
    rgba(227,77,10,1) 60%, 
    rgba(87,130,38,1) 80%, 
    rgba(87,130,38,1) 100%) fixed; 
    animation-name: turkey__backFader;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.turkey header {
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 1em 0 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.turkey header h1 {
  text-align: center;
  margin: 0 auto 0.5em;
}

.turkey header label {
  /*  */
}

.turkey main {
  background: rgba(255, 255, 255, .5);
  text-align: center;
  padding: 0em 0 0em;
  border-radius: 10px;
}

.turkey .topSection  {
  background: var(--white);
}

.turkey .topSection h2 {
  margin: .5em 0 .5em;
}

.turkey .country  {
  background: var(--white);
}

.turkey .list {
  border: 1px solid black;
}

.turkey .list h4 {
  text-align: center;
  margin: .5em auto 0;
  font-weight: 400;
}

.turkey .list ul {
  text-align: left;
  margin: 0.5em 0 1em;
}

.turkey .list ul li {
  text-align: left;
}

footer.turkey_footer {
  background: rgba(255, 255, 255, .5);
  /* width: 90%; */
  margin: 0 auto;
  font-size: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.turkey_footer hr {
  margin: 0 0 1.5em;
  outline: none;
}

.turkey_footer h4 {
  margin: 0 0 .5em;
}

.turkey_footer__padding {
  padding: 1em;
}

.turkey_footer__padding p {
  margin: 0 0 .5em;
}

.turkey .flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1.3em;
}

.turkey .flexItems {
  flex-basis: 45%;
  margin-top: 1em;
  border: 1px solid rgba(98,30,2,0.75);
  background: rgba(98,30,2,0.1);
  border-radius: .5em;
}

.turkey .flexItems h4 {
  text-align: left;  
  margin: 1em 0 0em 1em;
  font-weight: bold;
}

@media (min-width: 900px) {
  .turkey .flexItems {
    flex-basis: 20%;
    margin: 0em .25em 0em;
  }
}

@media (max-width: 550px) {
  .turkey .flexItems {
    flex-basis: 100%;
    margin: 0em 1em 1em;
  }
}
